.recipe {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(252, 252, 252, 0.6);
    align-items: center;
    width: 40%;
}

.img {
    border: 10px solid #fff;
    width: 200px
}